version: '3'
services:
  web:
    build: ./nginx
    image: mynginx:latest
    ports:
      - 82:80
    volumes:
      - ./myapp:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  php:
    build:
      context: ./php/
      dockerfile: Dockerfile
    volumes:
      - ./myapp:/var/www/html
  db:
    image: mysql:8.0
    volumes:
      - ./db_data:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: mydb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - '8080:80'
    restart: always
    environment:
      PMA_HOST: db
    depends_on:
      - db
